@import './variable';

.modal {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  @include size(423px, 485px);
  background: #FFF;
}

.modalTitle {
  margin-left: 42px;
  margin-bottom: 45px;

  h1 {
    padding-top: 27px;
    padding-bottom: 12px;
    font-size: 24px;
    letter-spacing: 2.51px;
    font-weight: 500;
  }
}

.inputGroup {
  label {
    margin: 0 43px 15px 42px;
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      font-weight: 500;
      width: 26%;
    }

    input {
      border: 1px solid #C9C9C9;
      border-radius: 5px;
    }
    
    input[type="text"] {
      @include size (233px, 32px);
      padding-left: 10px;
    }

    input[type="date"] {
      @include size (111px, 32px);
    }

    div {
      margin: 0 6px;
    }
  }

}

.selectDate {
  background: #EDEDED;
  padding: 15px 43px 18px 42px;

  li {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #6D7278;
    letter-spacing: 1.25px;
    font-weight: 500;

    div {
      &:first-child {
        margin-bottom: 4px;
      }
    }
  }
}

.totalPrice {
  font-size: 26px;
  color: #FF5C5C;
  letter-spacing: 2.72px;
  text-align: right;
  font-weight: 500;
  margin-top: 16px;
  margin-right: 43px;

  span {
    &:first-child {
      margin-right: 20px;
    }
  }
}

.modalBtn {
  display: flex;
  justify-content: space-between;
  margin: 29px 43px 0 42px;

  button {
    font-size: 14px;
    letter-spacing: 1.46px;

    &:first-child {
      @include size (78px, 37px);
      background: #D8D8D8;
      color: #6D7278;
    }

    &:last-child {
      @include size (107px, 37px);
      background: #484848;
      color: #FFF;
    }
  }
}


.modalContainer_confirm {
  @include size(423px, 248px);
  background: #FFF;
}
.confirm{
  margin-bottom: 10px;
}
.modalBody_confirm{
  text-align: center;
  img{
    @include size(60px,60px)
  }
}
.confirmBtn{
  justify-content: flex-end;
}